/* FRONTEND MODULE SETTINGS - Global module styles for all layouts */

.fl-color-picker-clear, .fl-lightbox-footer button:not(.toggle)  {
    background-color: #e7ebef!important;
}

.fl-color-picker-clear svg  {
    margin-left:10px!important;
}

button:not(.toggle), .button, .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button, 
input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: none;
}